---
---

//
// IMPORTS
//

@import "reset";
@import "variables";


/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}


body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  color: $h1-color;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
  color: $h2-color;
}

h3 {
  font-size: 20px;
  color: $h3-color;
}

h4 {
  font-size: 18px;
  color: $h4-color;
}

p {
  margin: 15px 0;
}

a {
  color: $link-color;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: darken($link-color,20);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $white;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; 
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $white;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    
    &:hover, &:active {
      color: darken($navbar-hover-color,20);
    }

    @include mobile {
      margin: 0 10px;
      color: $white;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}


//
// 表格
//

.entry table { 
   border-collapse:collapse;border-spacing:0; 
}


th { text-align:left;  }

td { margin:0;padding:0; }

code {
    font-family: monospace, serif;
    font-size: 1em;
}


.entry .tableRow td {
  padding-top: 10px;    
  padding-bottom: 10px;
  padding-left: 10px;
  background: #f6f6f6;
  border: 1px solid #AB47BC;
}

.tableRow td code {
    background: #f6f6f6;
    border: 1px solid #d0d0d0;
    border-radius: 3px 3px;
    line-height: inherit;
    vertical-align: baseline;
    padding: 2px 2px;
}

.entry table {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
    color: #4d4d4d;
}

.code pre{
  padding-left: 10px;
}

.entry table  th {
    padding: 4px 0;
    padding-left: 10px;
    border: 1px solid #AB47BC;
}
.entrye table td {
    padding: 84px 0;
    border: 1px solid #AB47BC;
}
.entry table th {
    background: #AB47BC;
    color: #fff;
}



//
// 进度条
//
.grid-block {
    background-color: #f0f0f0;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid #dddddd;
    padding: 1px 2px;
    margin: 10px 0;
     border-radius: 10px;
}

.list-skills li .progress {
    height: 25px;    
}


.list-skills li span {
  
  color: #E91E63;
}
.list-skills li .progress .progress-bar {
    border-radius: 5px;
    padding-top: 10px;    
    text-align: right;   
    height:10px;
    position: relative;
    background: #03A9F4;
    box-shadow: none;
}

.list-skills li .progress .progress-bar span {
    position: relative;
    bottom: 3px;
    font-size: 10px;
    color: white;
    right: -13px;
    display: inline-block;
    background: #D84E4E;
    padding: 1px 5px;
    border-radius: 5px;
}

.grid-block:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent #ddd #ddd transparent;
    border-style: solid;
    border-width: 21px;
}

.grid-block:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent #ebebeb #ebebeb transparent;
    border-style: solid;
    border-width: 20px;
}

.list-skills li .progress .progress-bar span:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -5px;
    top: -5px;
    border-bottom: 5px solid #D84E4E;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}


.grid-block:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-color: transparent #ddd #ddd transparent;
    border-style: solid;
    border-width: 21px;
}


.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

@import "highlights";
@import "jekyll-mono";